<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            padding: 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.3em;
        }
    </style>
</head>
<body>
    <h2>Functions: </h2>
    <hr>
    <p><h3>Get Data from date:</h3>
        <b>Usage:</b>
        /total?day=02-06-2020
        <br>
        <b>Link</b><a href="/total?day=01-06-2020">Try it here</a> 
    </p>
    <hr>
    <p><h3>Generate Excel Sheet:</h3>
        
        <b>Download </b><a href="/excelreport">Click here to download</a> 
    </p>
</body>
</html>